@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

/* Header */

.header {
  height: 65px;
  background-image: linear-gradient(to right, #672280, #a626d3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  width: 45px;
  margin-right: 7px;
}

.header__text {
  font-size: 21px;
  color: white;
}

/* Meme */

.meme {
  max-width: 500px;
  margin: 36px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 25px;
}

.meme__input-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}

.meme__input-container__input {
  height: 35px;
  width: 49%;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  text-indent: 10px;
  font-family: 'Karla', sans-serif;
}

.meme__button {
  width: 100%;
  height: 40px;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, #672280, #a626d3);
  cursor: pointer;
  font-family: 'Karla', sans-serif;
}

.meme__container {
  position: relative;
  margin-top: 36px;
}

.meme__container__image {
  width: 100%;
  border-radius: 2px;
}

.meme__container__text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.top {
  top: 10px;
}

.bottom {
  bottom: 10px;
}
